@model MoviesRememberClient.UserService.UserMovie
@{
    ViewBag.Title = "UserMovie";
}
<script>
    $(function () {
        $("#slider-range-min").slider({
            range: "min",
            value: @Model.Rate,
            min: 0,
            max: 5,
            slide: function (event, ui) {
                $("#Rate").val("$" + ui.value);
            }
        });
        $("#Rate").val("$" + $("#slider-range-min").slider("value"));
    });
	</script>
<section class="feature">
<div>
<table>
<tr>
<td>
    <a href="@Url.Action("DisplayMovie", "Showing", new { code = @Model.ApiId })"><img src="@Model.PictureUrl" height="193" width="143"/></a>
</td>
<td valign="baseline">
@using (Html.BeginForm("DeleteUserMovie", "UserMovie"))
{
        @Html.HiddenFor(x => x.ApiId)
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.PictureUrl)
    @Html.HiddenFor(x => x.ReleaseDate)
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.Title)
        <input type="image" src="../../../Images/supprimer-icone-3922-32.png">
        </input>
}
    </td>
</tr>
</table>
    <h4>@Model.Title</h4>
    <p>
    </p>
    @using (Html.BeginForm("UpdateUserMovie", "UserMovie"))
    {
    <p>
    <b>Date de sortie: </b>
    @Html.DisplayFor(x => x.ReleaseDate, string.Format("dd/MM/yyyy"))
    </p>
    <p>
    <b>Note: </b> @Html.EditorFor(model => model.Rate)
    <div id="slider-range-min"></div>
    </p>
        <p>
    <b>Déjà vu: </b>
    @Html.CheckBoxFor(x => x.AlreadySeen)
    </p>
    @Html.HiddenFor(x => x.ApiId)
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.PictureUrl)
    @Html.HiddenFor(x => x.ReleaseDate)
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.Title)
    <input type="submit" value="Update" />
    }
</div>
</section>
